body{
    background-color: black;
}

#road{
    height: 100vh;
    width: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.images{
    background-color: white;
    width: 300px;
    height: 300px;
    position: absolute;
    opacity: 0;
}

#a{
    top: 70px;
    left: 5%;
}
#b{
    top: 130px;
    left: 30%;
}
#c{
    top: 280px;
    left: 10%;
}
#d{
    top: 100px;
    left: 70%;
    background-color: red;
}
#e{
    top: 450px;
    left: 80%;
}
#f{
    top: 600px;
    left: 65%;
}
#g{
    top: 500px;
    left: 15%;
}


.images:hover{
   opacity: 100%;

}